{{- define "main" }}
{{- $home := site.GetPage "/home" -}}
<article class="post-single academic-home-page">
    {{- with $home }}
        {{- partial "academic_section_header.html" . -}}
    {{- end }}
    <div class="post-content academic-home-content">
        {{- with $home }}
            {{- if not (.Param "disableAnchoredHeadings") }}
                {{- partial "anchored_headings.html" .Content -}}
            {{- else }}
                {{- .Content -}}
            {{- end }}
        {{- else }}
            {{- if .Content }}
                {{- if not (.Param "disableAnchoredHeadings") }}
                    {{- partial "anchored_headings.html" .Content -}}
                {{- else }}
                    {{- .Content -}}
                {{- end }}
            {{- end }}
        {{- end }}
    </div>
</article>
{{- end }}
